footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem;
}

footer .social {
  color: #f60;
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

footer .social svg:hover {
  color: var(--orange-ligth);
  transition: all 0.3s;
}
